/* Removes min width from image containers */
[style*="min-width"] {
  min-width: auto !important;
}

/* Unstickify photo post comments section */
div.x1dqk2q1.x1dqk2q1 {
  max-height: max-content;
}

/* Fix video post layout excluding the feed page layout */
div:has(> [role="main"]):has(> [role="complementary"]):not(:has(> [role="navigation"])) {
  flex-direction: column;
}
div[role="complementary"] {
  width: auto;
  & > div.xjabf5u.xjabf5u {
    position: static;
  }
  &.xnjgh8c,
  div.xnjgh8c {
    max-height: none;
  }
  :is(&.x2lwn1j, div.x2lwn1j):not(.x14qfxbe, .x100vrsf, .xsdox4t) {
    width: auto;
  }
}

/* Prevents opening Video feed page when clicking on a playing video */
.x1lliihq div[role="presentation"] {
  pointer-events: none;
}

/****** fb-clean-my-feeds ******/

/* Fixes dialog box layout */
div#fbcmf {
  box-sizing: border-box;
  left: 0;
  bottom: 8.5rem;
}

/* Disables button option location:top right */
label:has(input[name="CMF_BTN_OPTION"][value="1"]),
    /* Disables dialog option settings */
    label:has(input[name="CMF_DIALOG_OPTION"]) {
  pointer-events: none;
  opacity: 0.5;
}
